/* For mobile phones: */
body {
    background-color: black;
    }
    @media only screen and (min-width: 768px) {
    /* For tablets: */
    body {
    background-color: green;
    }
    }
    @media only screen and (min-width: 987px) {
    /* For desktop: */
    body {
    background-color: pink;
    }
    }
    body{
        max-width: 1200px;
        margin: 0 auto;
    }
    .menu {
        background-color: grey;
        width: 100%;
        height: 70px;
        margin-bottom: 20px;
        font-size: 12px;
        text-decoration: none ;    
    }
    .banner{
        margin-left: 60px;
    }
    .menu a{
        color: white;   
        margin-left: 20px;
    }
    .left{
        padding: 30px;
        margin-left: -70px;
    }
    .right{
        float: right;
        margin-top: -50px;
        margin-right: 20px;
    }
    .row{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        height: auto;
    }
    .row img{
        padding-bottom: 50px;
        width: 510px;
        height: auto;
    }
    .footer-1{
        margin-top: 30px;
        margin-left: 0px;
    }
    .footer-2{
        margin-top: 30px;
        margin-left: 0px;
    }
    .footer-3{
        margin-top: 30px;
        margin-left: 0px;
    }



   
    